#{extends 'main.html' /}
#{set title:'Администратор' /}

<table>
    <tr>
        <td>ФИО</td>
        <td>Действия</td>
    </tr>
#{paginate.list items:allUser, as:'currentUser'}
    <tr>
        <td>
            <a href="@{Administrator.aboutClient(currentUser.id)}">${currentUser.firstName} ${currentUser.lastName} ${currentUser.thirdName}</a>
        </td>
        <td>
            <a href="@{Administrator.viewClient(currentUser.id)}">Календарь</a>
            <a href="@{Abonements.index(currentUser.id)}">Абонименты</a></td>
    </tr>
#{/paginate.list}
    <tr>
        <td></td>
        <td>
            <input type="button" onclick="newClient()" value="Новый клиент"/>
            <br/>
            <input type="button" onclick="cancel()" value="Назад"/>
        </td>
    </tr>
</table>
#{paginate.controls items:allUser /}

<script>
    function newClient() {
        var action = #{jsAction @Application.newClient() /};
        document.location = action();
    }
    ;

    function cancel() {
        var action = #{jsAction @Application.index() /};
        document.location = action();
    }
    ;
</script>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>