#{extends 'main.html' /}
#{set title:'Смена пароля' /}

<h1>Смена пароля</h1>

#{form @updatePassword()}
<table>
    <tbody>
    <tr>
        <th>Старый пароль:</th>
        <td>
            #{field 'oldPassword'}
                <p class="${field.errorClass}">
                    <input type="password" name="${field.name}" size="16"
                           value="${oldPassword}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Новый пароль:</th>
        <td>
            #{field 'newPassword'}
                <p class="${field.errorClass}">
                    <input type="password" name="${field.name}" size="16"
                           value="${newPassword}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Подтвердить новый пароль:</th>
        <td>
            #{field 'verifyPassword'}
                <p class="${field.errorClass}">
                    <input type="password" name="${field.name}" size="16"
                           value="${verifyPassword}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit" value="Подтвердить">
        </td>
        <td>
            <a href="@{index()}" id="switchLink">Отмена</a>
        </td>
    </tr>
    </tbody>
</table>
#{/form}

