#{extends 'main.html' /}
#{set title:'Главная' /}

<div id="login">
    <table id="menu">
        <tbody>
        <tr>
            <td><img src="@{'/public/images/korts.jpg'}"></img></td>
            <td><a href="@{viewCalendar("play1")}">Игровая площадка. 1</a></td>
        </tr>
        <tr>
            <td><img src="@{'/public/images/korts.jpg'}"></img></td>
            <td><a href="@{viewCalendar("play2")}">Игровая площадка. 2</a></td>
        </tr>
        <tr>
            <td><img src="@{'/public/images/korts.jpg'}"></img></td>
            <td><a href="@{viewCalendar("play3")}">Игровая площадка. 3</a></td>
        </tr>
        <tr>
            <td><img src="@{'/public/images/korts.jpg'}"></img></td>
            <td><a href="@{viewCalendar("play4")}">Игровая площадка. 4</a></td>
        </tr>
        <tr>
            <td></td>
            <td><a href="@{menu()}">Назад</a></td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>