#{extends 'main.html' /}
#{set title:'Регестрация' /}

<script>
    $(function () {
        $(".myDate").datepicker({
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $(".calendar").click(function () {
            $(".myDate[name='" + $(this).attr('relateTo') + "']").datepicker("show");
        });
    });
</script>

<h1>Регестрация</h1>

#{form @saveUser()}
<table>
    <tbody>
    <tr>
        <th>Логин:</th>
        <td>
            #{field 'user.login'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.login}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Фамилия:</th>
        <td>
            #{field 'user.firstName'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.firstName}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Имя:</th>
        <td>
            #{field 'user.lastName'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.lastName}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Отчество:</th>
        <td>
            #{field 'user.thirdName'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.thirdName}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Дата рождения:</th>
        <td>
            #{field 'user.birthDate'}
                <p class="${field.errorClass}">
                    <input type="text" class="myDate" name="${field.name}"
                           value="${user?.birthDate?.format()}"/>
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Телефон:</th>
        <td>
            #{field 'user.phone'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.phone}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Email:</th>
        <td>
            #{field 'user.email'}
                <p class="${field.errorClass}">
                    <input type="text" name="${field.name}" size="16" value="${user?.email}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Пароль:</th>
        <td>
            #{field 'user.password'}
                <p class="${field.errorClass}">
                    <input type="password" name="${field.name}" size="16" value="${user?.password}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>
    <tr>
        <th>Подтвердить пароль:</th>
        <td>
            #{field 'verifyPassword'}
                <p class="${field.errorClass}">
                    <input type="password" name="${field.name}" size="16"
                           value="${verifyPassword}">
                    <span class="error">${field.error}</span>
                </p>
            #{/field}
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit" value="Подтвердить">
        </td>
        <td>
            <input type="button" onclick="cancel()" value="Назад"/>
        </td>
    </tr>
    </tbody>
</table>
#{/form}

<script>
    function cancel() {
        var action = #{jsAction @index() /};
        document.location = action();
    }
    ;
</script>